<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
   <style type="text/css">
		#top{
		   margin: auto;
		   align-content: center;
		   text-align: center;
		   {#margin-top: 100px;#}
		}
		#sel{
			width: 200px;
			height: 40px;
            font-size: 15px
		}
		#content{
		   margin: auto;
		   text-align: center;
		   margin-top: 30px;
		   height: 900px
		}
		#iframe{
		   width: 90%;
		   height: 100%
		}
	</style>
</head>
{#<select>#}
{#    <option value="03311">03311</option>#}
{#    <option value="08204">08204</option>#}
{##}
{#</select>#}
<a style="font-size: 30px" href="{{   url_for('bind',companyCode='03311')}}">绑定03311商家</a>
<p></p>
<a style="font-size: 30px" href="{{   url_for('bind',companyCode='08204')}}">绑定08204商家</a>
{% if bindCode %}
    <p>{{ bindCode }}</p>
{% endif %}

    <div id="top">
    <label for="sel"></label>
        <select id="sel" style="">
          <option value="业务">业务 </option>
          <option value="weixin">微信点歌</option>
          <option value="platform">平台运营</option>
          <option value="activity">运营活动</option>
          <option value="VIP">VIP特权</option>
          <option value="congratuations">包厢送祝福</option>
          <option value="split">分屏游戏</option>
          <option value="title">主题包厢&私人订制</option>
          <option value="game">赛马游戏</option>
          <option value="zhicheng">支撑业务</option>
          <option value="KTV">平智慧KTV</option>
          <option value="other">其他</option>
	    </select>
    </div>
    <div id="content">
    	<iframe window.location.href="{{ url_for('weixin') }}"  id="iframe">
            window.location.href="{{ url_for('platform') }}" id="iframe">
             window.location.href="{{ url_for('activity') }}" id="iframe">
            window.location.href="{{ url_for('VIP') }}" id="iframe">
            window.location.href="{{ url_for('VIP') }}" id="iframe">
            window.location.href="{{ url_for('congratuations') }}" id="iframe">
            window.location.href="{{ url_for('congratuations') }}" id="iframe">
            window.location.href="{{ url_for('split') }}" id="iframe">
             window.location.href="{{ url_for('title') }}" id="iframe">
            window.location.href="{{ url_for('game') }}" id="iframe">
           window.location.href="{{ url_for('zhicheng') }}" id="iframe">
             window.location.href="{{ url_for('KTV') }}" id="iframe">
            window.location.href="{{ url_for('other') }}" id="iframe">
        </iframe>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
	 $("#sel").change(function () {
            var value= $(this).val();
            $('#iframe').attr('src',value);

});

</script>
</body>
</html>


